<data PLAYER_FILENAME="http://content.oddcast.com/host/elfyourself2014/swf/video_export.swf?doorId=1255&amp;clientId=299&amp;mId=61418826&amp;ds=http%3A%2F%2Fhost-d-vd.oddcast.com&amp;stem=http%3A%2F%2Fhost-d-vd.oddcast.com%2Fphp%2Fapi%2FgetWorkshopInfo%2FdoorId%3D1255&amp;video_export=true&amp;BASE=host-d-vd.oddcast.com&amp;video_export=true" STEM="http://host-d-vd.oddcast.com/php/api/getWorkshopInfo/doorId=1255" MID="61418826"  PLAYER_EXPORT_URL="http://content-vd.oddcast.com/host/elfyourself2014/swf/player_embed.swf" />